.image-textboxes {
    width: 100%;
}

.image-textboxes .image-container {
    position: relative;
    width: 80%;
}

.image-textboxes .image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-textboxes .image-wrapper {
    position: relative;
}

.image-textboxes .text-box {
    background: #fff;
    border-radius: 12px;
    min-width: 100px;
    padding: 12px 16px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4px;
    width: auto;
    box-shadow: 0px 4px 20px 0px #00000040;
}

.image-textboxes .text-box div {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: right;
    color: #000000;
}

.image-textboxes .text-box .rich-text {
    position: relative;
    text-align: left;
}

.image-textboxes .text-box .tick-icon {
    width: 24px;
    height: 24px;
}

.image-textboxes .text-box .components-button {
    margin-left: 10px;
    height: unset;
    padding: 4px 12px !important;
}

.image-textboxes .add-text-box {
    margin-top: 10px;
}

.image-textboxes .remove-image {
    margin-top: 10px;
}
