.image-textboxes {
    width: 100%;
}

.image-textboxes .image-container {
    position: relative;
    width: 100%;
}

.image-textboxes .image-container img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 486px;
}

.image-textboxes .image-wrapper {
    position: relative;
}

.image-textboxes .text-box {
    background: #fff;
    border-radius: 12px;
    min-width: 100px;
    padding: 10px;
    position: absolute;
    width: auto;
    box-shadow: 0px 4px 20px 0px #00000040;
}

.image-textboxes .text-box div {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: right;
    color: #000000;
}

.image-textboxes .text-box .rich-text {
    position: relative;
    padding-left: 32px;
}

/* SVG Icon styling */
.image-textboxes .text-box .rich-text::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('./tick.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-textboxes .text-box .components-button {
    margin-top: 5px;
}

.image-textboxes .add-text-box {
    margin-top: 10px;
}

.image-textboxes .remove-image {
    margin-top: 10px;
}
